# macOS
.DS_Store

# Xcode
*.xcworkspace
*.xcuserstate
*.xcuserdata
*.xccheckout
*.xcodeproj/project.xcworkspace
*.xcodeproj/xcuserdata
*.xcodeproj/xcshareddata/xcschemes/*.xcscheme
*.xcodeproj/xcshareddata/xcschemes/xcschememanagement.plist
*.xcdebugger/

# SwiftPM
.build/
.swiftpm/
Package.resolved

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/

# Fastlane
fastlane/report.xml
fastlane/screenshots
fastlane/test_output

# Archives & Derived Data
*.ipa
*.dSYM.zip
*.dSYM
*.xcarchive
DerivedData/

# IDEs & Misc
*.swp
*.lock
.idea/
.vscode/
.env

